
@using TendersApp.Data
@using TendersApp.Users
@inject IJSRuntime JsRuntime
<br /><br />
<label>Организация:</label> <input placeholder="Организация" @bind-value="@organisation" />
<br /><br />
<label>ОГРН:</label> <input placeholder="ОГРН" @bind-value="@ogrn"></input>
<br /><br />
<label>ИНН:</label> <input placeholder="ИНН" @bind-value="@inn"></input>
<br /><br />
<label>КПП:</label> <input placeholder="КПП" @bind-value="@kpp"></input>
<br /><br />
<label>Адрес:</label> <input placeholder="Адрес" @bind-value="@adress"></input>
<br /><br />
<label>Директор:</label> <input placeholder="Директор" @bind-value="@director"></input>
<br /><br />
@code {
    public string organisation = "";
    public string ogrn = "";
    public string inn = "";
    public string kpp = "";
    public string adress = "";
    public string director = "";
}