@page "/personalPage"

@using TendersApp.Data
@using TendersApp.Users
@using TendersApp.Components
@inject IJSRuntime JsRuntime
@inject MongoDb MongoDb


<h1>Личный кабинет</h1>

@if (MongoDb.currentUser?.Role == Enums.Roles.Customer)
{
    <div class="user-component">
    <p style="margin-left: 2%">Логин: @((MongoDb.CheckLoginForCustomer(MongoDb.currentUser.Login).Login))</p>
    <p style="margin-left: 2%">Имя: @((MongoDb.CheckLoginForCustomer(MongoDb.currentUser.Login).FirstName))</p>
    <p style="margin-left: 2%">Фамилия: @((MongoDb.CheckLoginForCustomer(MongoDb.currentUser.Login).LastName))</p>
    <p style="margin-left: 2%">Почта: @((MongoDb.CheckLoginForCustomer(MongoDb.currentUser.Login).Email))</p>
    <p style="margin-left: 2%">Телефон: @((MongoDb.CheckLoginForCustomer(MongoDb.currentUser.Login).PhoneNumber))</p>
    <p style="margin-left: 2%">Отдел: @((MongoDb.CheckLoginForCustomer(MongoDb.currentUser.Login).Division))</p>
    </div>
}
@if (MongoDb.currentUser?.Role == Enums.Roles.Designer)
{
    <div class="user-component">
    <p style="margin-left: 2%">Логин: @((MongoDb.CheckLoginForDesigner(MongoDb.currentUser.Login).Login))</p>
    <p style="margin-left: 2%">Организация: @((MongoDb.CheckLoginForDesigner(MongoDb.currentUser.Login).Organisation))</p>
    <p style="margin-left: 2%">Почта: @((MongoDb.CheckLoginForDesigner(MongoDb.currentUser.Login).Email))</p>
    <p style="margin-left: 2%">Телефон: @((MongoDb.CheckLoginForDesigner(MongoDb.currentUser.Login).PhoneNumber))</p>
    <p style="margin-left: 2%">Адрес: @((MongoDb.CheckLoginForDesigner(MongoDb.currentUser.Login).Adress))</p>
    <p style="margin-left: 2%">ОГРН: @((MongoDb.CheckLoginForDesigner(MongoDb.currentUser.Login).Ogrn))</p>
    <p style="margin-left: 2%">ИНН: @((MongoDb.CheckLoginForDesigner(MongoDb.currentUser.Login).Inn))</p>
    <p style="margin-left: 2%">КПП: @((MongoDb.CheckLoginForDesigner(MongoDb.currentUser.Login).Kpp))</p>
    <p style="margin-left: 2%">Директор: @((MongoDb.CheckLoginForDesigner(MongoDb.currentUser.Login).Director))</p>
    <p style="margin-left: 2%">Главный инженер: @((MongoDb.CheckLoginForDesigner(MongoDb.currentUser.Login).MainEngineer))</p>
    </div>
}
@if (MongoDb.currentUser?.Role == Enums.Roles.Developer)
{
    <div class="user-component">
    <p style="margin-left: 2%">Логин: @((MongoDb.CheckLoginForDeveloper(MongoDb.currentUser.Login).Login))</p>
    <p style="margin-left: 2%">Организация: @((MongoDb.CheckLoginForDeveloper(MongoDb.currentUser.Login).Organisation))</p>
    <p style="margin-left: 2%">Почта: @((MongoDb.CheckLoginForDeveloper(MongoDb.currentUser.Login).Email))</p>
    <p style="margin-left: 2%">Телефон: @((MongoDb.CheckLoginForDeveloper(MongoDb.currentUser.Login).PhoneNumber))</p>
    <p style="margin-left: 2%">Адрес: @((MongoDb.CheckLoginForDeveloper(MongoDb.currentUser.Login).Adress))</p>
    <p style="margin-left: 2%">ОГРН: @((MongoDb.CheckLoginForDeveloper(MongoDb.currentUser.Login).Ogrn))</p>
    <p style="margin-left: 2%">ИНН: @((MongoDb.CheckLoginForDeveloper(MongoDb.currentUser.Login).Inn))</p>  
    <p style="margin-left: 2%">КПП: @((MongoDb.CheckLoginForDeveloper(MongoDb.currentUser.Login).Kpp))</p>
    <p style="margin-left: 2%">Директор: @((MongoDb.CheckLoginForDeveloper(MongoDb.currentUser.Login).Director))</p>
</div>
}

@if (MongoDb.currentUser?.Role == Enums.Roles.Customer)
{
    <CustomerComponent currentCustomer="MongoDb.CheckLoginForCustomer(MongoDb.currentUser.Login)"></CustomerComponent>
}
@if (MongoDb.currentUser?.Role == Enums.Roles.Designer)
{
    <DesignerComponent currentDesigner="MongoDb.CheckLoginForDesigner(MongoDb.currentUser.Login)"></DesignerComponent>
    
}
@if (MongoDb.currentUser?.Role == Enums.Roles.Developer)
{
    <DeveloperComponent currentDeveloper="MongoDb.CheckLoginForDeveloper(MongoDb.currentUser.Login)"></DeveloperComponent>
}


@code {
    
}
