@page "/registration"

<PageTitle>Registration</PageTitle>

@using TendersApp.Data
@using TendersApp.Users
@using TendersApp.Components
@inject IJSRuntime JsRuntime
@inject MongoDb MongoDb

<div class="register-user">
    <label>Логин:</label> <input placeholder="Логин" @bind-value="@user.Login"></input>
    <br /><br />
    <label>Пароль:</label> <input placeholder="Пароль" @bind-value="@user.Password"></input>
    <br /><br />
    <label>Email:</label> <input placeholder="Email" @bind-value="@user.Email"></input>
    <br /><br />
    <label>Номер:</label> <input placeholder="Номер" @bind-value="@user.PhoneNumber" />
    <br /><br />
    <label>Выберите вашу роль:</label>

    <select @bind="@role">
        <option value="Заказчик">Заказчик</option>
        <option value="Застройщик">Застройщик</option>
        <option value="Проектировщик">Проектировщик</option>
    </select>
    <button type="submit" @onclick="() => AddToDataBase()">Sign Up</button>
</div>


@code {
    string role = "";
    /*string firstName = "";
    string login = "";
    string password = "";
    string email = "";
    string lastName = "";
    string phoneNumber = "";*/

    User user = new User();

    CustomerComponent customerComponent;
    DeveloperComponent developerComponent;
    DesignerComponent designerComponent;

    private async void AddToDataBase()
    {

        if (role == "Заказчик")
        {
            MongoDb.AddCustomerToDataBase(new Customer(user.Login, user.Password, user.Email,
            user.PhoneNumber, Enums.Roles.Customer));
        }
        else if (role == "Проектировщик")
        {
            MongoDb.AddDesignerToDataBase(new Designer(user.Login, user.Password, user.Email,
            user.PhoneNumber, Enums.Roles.Designer));
        }
        else if (role == "Застройщик")
        {   
            MongoDb.AddDeveloperToDataBase(new Developer(user.Login, user.Password, user.Email,
            user.PhoneNumber, Enums.Roles.Developer));
        }

    }

}
